<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="homeCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[:🚀:]</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <a ui-sref="home">Home</a> | 
        <a ng-if="!localStorage.currentUser" ui-sref="login">Login</a> | 
        <button ng-if="localStorage.currentUser" class="btn btn-default" ng-click="Logout()">Logout</button>
    </div>

    <ui-view></ui-view>
    
    <!-- DEPENDENCIES -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/ngstorage/ngStorage.min.js"></script>

    <!-- APP -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- CONTROLLERS -->
    <script src="app/home/homeCtrl.js"></script>

    <!-- SERVICE -->
    <script src="app/auth/authSvc.js"></script>
  </body>
</html>